<!DOCTYPE html>
<html>
<#include "/header.html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<style>

</style>
<body>
    <div id="mapp">
        <input type="hidden"  id="user" value="${user}">
       <el-form ref="form" :model="form" label-width="80px">
            <el-form-item label="用户名称">
                <el-input v-model="form.username"></el-input>
            </el-form-item>
           <el-form-item label="用户密码">
               <el-input v-model="form.password"></el-input>
           </el-form-item>
            <el-form-item label="所在部门">
                <el-select v-model="form.deptId" placeholder="请选择所在部门">
                    <el-option
                            v-for="dept in deptList"
                            :key="dept.deptId"
                            :label="dept.name"
                            :value="dept.deptId">
                    </el-option>
                </el-select>
            </el-form-item>
           <el-form-item label="邮箱">
               <el-input v-model="form.email"></el-input>
           </el-form-item>
           <el-form-item label="手机号">
               <el-input v-model="form.mobile"></el-input>
           </el-form-item>
           <el-form-item label="状态">
               <el-radio-group v-model="form.status">
                   <el-radio :label="0" value=”0“ >禁用</el-radio>
                   <el-radio :label="1" value=”1“ >启用</el-radio>
               </el-radio-group>
           </el-form-item>
           <el-form-item label="角色">
               <el-checkbox-group v-model="form.roleIdList">
                   <el-checkbox v-for="(role,i) in roleList"  :label="role.roleId" :key="role.roleId">{{role.roleName}}</el-checkbox>
               </el-checkbox-group>
           </el-form-item>

        <el-form-item>
            <el-button type="primary" @click="onSubmit">立即创建</el-button>
            <el-button>取消</el-button>
        </el-form-item>
        </el-form>
    </div>
<script>

    var vm = new Vue({
        el: '#mapp',
        data:{
            u:{},
            roleList:[],
            deptList:[],
            getUrl:'../api/user/save',
            src:"${request.contextPath}/statics/img/bg.jpg",
            defaultSrc:"https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png",
            currentDate: new Date(),
            form: {
                username: '',
                password:'',
                deptName: '',
                deptId: '',
                email: '',
                mobile: '',
                status: 0,
                roleIdList:[]
            }
        },
        methods: {
            init(){
                this.form={
                    username: '',
                    password:'',
                    deptName: '',
                    deptId: '',
                    email: '',
                    mobile: '',
                    status: 0,
                    roleIdList:[]
                };

            },
            getDataList(){
                let _this=this;
                $.get("../api/role/select",function (data) {
                    if(data.code==0){
                        _this.roleList=data.list;
                    }
                });
                $.get("../api/dept/select",function (data) {
                    if(data.code==0){
                        _this.deptList=data.deptList;
                    }
                });
            },
            onSubmit() {
                let _this=this;
                $.ajax({
                    type: "POST",
                    url: _this.getUrl,
                    contentType: "application/json;charset=UTF-8",
                    data: JSON.stringify(vm.form),
                    success: function(r){
                        console.log(r)
                        if(r.code === 0){
                            _this.$message('操作成功');
                            _this.init();
                        }else{
                            _this.$message(r.msg);
                    }
                    }
                });
            }
        },
        created(){
            if($("#user").val()==0){
                this.init();
            }else{
                var a=($("#user").val()).replace(/'/g,"\"");
                this.u= JSON.parse(a);
                this.form=this.u;
                this.getUrl='../api/user/update';
            }
            this.getDataList();
        }
    })
</script>
</body>
</html>